<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeeProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C001DF9D1D0C3CF10008D9DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C001DFB61D0C3CF20008D9DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C001DFC11D0C3CF20008D9DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
